@font-face {
    font-family: 'simple';
    src: url('simpleFont.woff') format('woff'); 
}

@font-face {
    font-family: inter;
    src: url(/fonts/Inter-SemiBold.woff);
}

body {
    scroll-behavior: smooth;
    overflow-x: hidden;
    color: #263238;

}

header {
    width: 100%;
    font-family: inter; 
    padding: 0.5rem;
    margin-bottom: -2%;
    text-align: center;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
}
header h1 {
    top: -4px;
    position: relative;
    font-size: 27px;

}
header img {
    height: 80px;
}

.nav {
    display: flex;
    padding-left: 900px;
    gap: 60px;
    font-size: 25px;
}


.intro {
    background-color: #f5f7fa;
    font-family: inter;
    margin-top: 2%;
    letter-spacing: 3px;
    padding-top: 8%;
    padding-left: 5%;
    display: flex;
}

.intro h1, h3 {
    margin-bottom: 0%;
    margin-top: 0%;
    line-height: 1.1;
}
.intro h1 {
    font-size: 90px;
}

.intro h3 {
    font-size: 40px;
}

.intro p {
    font-size: 20px;
}

.intro img {
    height: 50rem;
    margin-top: -160px;
}


.domestico {
    display: flex;
    font-family: inter;
    padding-top: 5%;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    padding: 60px;
    padding-bottom: 5%;
    background-color: #f5f7fa83;
    color: #263238;
}

.domestico img {
    height: 27rem;
    border-radius: 8%;
}

.dom-text h1 {
    padding-left: 5.5%; 
    font-size: 50px;
}

.dom-text ul {
    padding-left: 6%;
    font-size: 26px;
    width: 70%;
    list-style-type: none;
}

.dom-text span {
    color: rgb(106, 180, 122);
}

#image-dom {
    margin-right: 12%;
    padding-top: 85%;
    margin-top: 1%;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #a2a4a723;
    font-family: inter;
    padding-top: 3%;
    padding-bottom: 3%;
    border-radius: 25px;
    max-width: 500px;
    border: #15181a;
    margin: 40px auto;
    background-color: #f5f7fa;

}

form label {
    margin-bottom: 1%;
    font-size: 18px;
    text-align: center;
}

input[type='number'] {
    margin-bottom: 2%;
}

input[type='number'],
input[type='date'] {
    font-size: 18px;
    border-radius: 10px;
    box-sizing: border-box;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 2%;

}

button {
    background-color: black;
    color: white;
    cursor: pointer;
    transition: background 0.2s ease;
    border-radius: 15px;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 4%;
    padding-right: 4%;
    border: 0;
}

button :hover {
    color: rgb(106, 180, 122);
}


#resultado {
     text-align: center;
     font-family: inter;
     background: #f0f0f0; 
     color: rgb(106, 180, 122);
     font-size: 22px;
     padding: 15px; 
     border-radius: 5px; 
     border-radius: 25px;
     max-width: 500px;
     margin: 40px auto;
    }



.seguro-casa {
    font-family: inter;
    background-color: #f5f7fa;
    padding-top: 2%;
    padding-bottom: 2%;
    width: 100%;
    padding-left: 5%;
}

.seguro-casa h1,h2 {
    line-height: 40%;
}

.seguro-casa h2 {
    font-size: 28px;
}

.seguro-casa h1 {
    font-size: 45px;
}

.seguro-casa p {
    font-size: 23px;
}

.sine-content {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    }
      
#sine-worker img {
    height: 45rem;
      }
    
.sine-text {
    font-family: inter;
    margin-top: 10%;
    font-size: 25px;
    margin-top: 4%;
    margin-left: -5%;
}

#main-title {
    text-align: center;
    font-size: 30px;
}

.sine-text ul {
    list-style-type: none;
}

a {
    text-decoration: none; 
    color: inherit; 
  }
  
  a:visited {
    color: inherit;
  }
  
  a:hover {
    opacity: 0.8; 
  }

  